body {
  /* background: purple; */
  background:var(--BG-COLOR-1);
}
:root {
  /* FONT-SIZES */
  --AH-FONT-SIZE:2.2rem;
  --AP-FONT-SIZE:0.7rem;
  --BTN-FONT-SIZE:0.6rem;
  /* LINE HEIGHT */
  --AP-LINE-HEIGHT:1.2rem;
  /* BTN WIDTH */
  --BTN-WIDTH:100px;
 }
.btn {
  border-radius: 0.5rem;
}
.brand-logo {
  margin-left: 20px;
  width: 55px;
  height: 55px;
}
.brand-name {
  padding-top: 15px;
}
ul li a {
  font-size: 0.9rem;
}
.about-us {
  padding-left: 1.1rem;
}
/* Article 1 */
 .article-1 {
  margin-top: 4rem;
  grid-template-columns: 550px 450px;
  margin-bottom: 4rem;
 }
.article-1-headline {
  font-size: 3rem;
  margin-left: 100px;
}
.article-1-paragraph {
  font-size: var(--AP-FONT-SIZE);
  margin-left: 100px;
  line-height: var(--AP-LINE-HEIGHT);
}
.article-1-start-btn {
  margin-left: 100px;
}
.circle-1 {
  margin: 0;
  margin-left: 4rem;
  width: 300px;
  height: 300px;
}
.circle-2,
.circle-3 {
  width: 300px;
  height: 300px;
}
.circle-3  {
  bottom: 30%;
  right: -10%;
}
.square {
  width: 255px;
  height: 270px;
}
.full-stack-mvp {
  font-size: 0.8rem;
  padding: 13px;
}
.text-input {
  height: 30px;
}
.design-btn,
.code-btn,
.text-btn{
   padding: 5px 13px;
   font-size: 0.7rem;
  }
  .input-btns {
    padding: 5px 13px;
   font-size: 0.6rem;
   }
.invite,
.project-lead {
  font-size: 0.7rem;
}
.email-input {
  width: 63%;
  height: 30px;
}
.share-btn {
  width: 23%;
  height: 30px;
}
.project-lead-img-1,
.project-lead-img-2 {
  width: 15%;
  height: 15%;
}
.lead-name {
  font-size: 0.7rem;
  margin-top: 11px;
}
.bulb-frame {
  width: 45px;
  height: 45px;
  bottom: 81%;
  left: -7%;
 } 
 .bulb-card {
  width: 35px;
  height: 35px;
 }
 .bulb {
  width: 23px;
  height: 23px;
 }
 .star-icon {
  width: 40px;
  height: 40px;
  left: 95%;
  bottom: 99%;
}
.speed-icon { 
  width: 50px;
  height: 50px;
  left: 87%;
  top:36%;
}
/* Article 2 */
.article-2 {
  margin-bottom: 7rem;
}
.article-2-headline {
  font-size: var(--AH-FONT-SIZE);
}
.article-2-paragraph {
  font-size: var(--AP-FONT-SIZE);
}
.rectangle-1 {
  width: 250px;
  height: 70px;
  top: 23%;
  left: 70%;
}
.rectangle-2 {
  width: 200px;
  height: 60px;
  top: 0%;
}
.frame-headlines {
  margin: auto;
  margin-top: 15px;
}
.frame-paragraph {
  margin: auto;
  margin-top: 10px;
  width: 36ch;
}
/* Article 3 */
.article-3 {
  margin-bottom: 3rem;
   border-bottom: none;
}
.article-3-headline {
  font-size: var(--AH-FONT-SIZE);
}
.article-3-paragraph {
  font-size: var(--AP-FONT-SIZE);
}
.flow-container {
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 250px);
  grid-gap: 3rem;
}
.initial-chat,
.plan-design,
.rapid-dev,
.test,
.launch,
.iterate {
 width: 25ch;
}
/* Article 4 */
.article-4 {
  margin-bottom: 3rem;
}
.article-4-headline {
  font-size: var(--AH-FONT-SIZE);
  margin-right: 11.5rem;
  margin-top: 3rem;
}
.article-4-paragraph {
  margin-right: 12rem;
  max-width: 45ch;
}
 .article-4-start-btn {
  width: var(--BTN-WIDTH);
 }
 .bitmap-img {
  width: 255px;
  height: 255px;
  margin-left: 35%;
  margin-top: 40px;
 }
 .sub-circle {
  left: 160px;
  bottom: 160px;
 }
 .rectangle-3 {
  top: 240px;
  left: 50px;
  width: 190px;
}
/* Article 5 */
.article-5 {
  margin-bottom: 3rem;
}
.team-container {
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.pictures {
  width: 70px;
  height: 70px;
}
.philipp-kant {
  grid-column-start:2;
  grid-column-end: 2;
}
.christain-schumacher {
   grid-row: 1 / 1;
   grid-column: 3;
   margin-inline: 0;
}
.team-about {
  width: 35ch;
  margin: auto;
  margin-top: 15px;
  text-align: start;
}
/* Article-6 */ 
.article-6-start-btn {
  width: var(--BTN-WIDTH);
}
.semi-circle {
  width: 170px;
  height: 170px;
}
.rectangle-4 {
  width: 160px;
  height: 50px;
  bottom: 90px;
  left: -45px;
}
.circle-4 {
  width: 240px;
  height: 240px;
  left: 73%;
  bottom: 0;
}
.rectangle-5 {
  width: 160px;
  left: 72%;
  bottom: 120px;
  opacity: 0.4;
}
/* Footer */
.footer-nav {
  margin-top: 30px;
  margin: 1rem;
  font-size:0.7rem;
}
.footer-paragraph {
  margin-right: 3rem;
  font-size: 0.6rem;
  }
.footer-mail {
  width: 35%;
}
.footer-icons {
  margin: 1rem;
}
.copyright {
  margin-left: 2.5rem;
  font-size: 0.6rem;
}












