body {
  background: darkblue;
  background:var(--BG-COLOR-1);
}
:root {
  /* FONT-SIZES */
  --AH-FONT-SIZE:4rem;
  --AP-FONT-SIZE:1.125rem;
  --BTN-FONT-SIZE: 1rem;
  /* LINE HEIGHT */
  --AP-LINE-HEIGHT:2.3rem;
  /* BTN WIDTH */
  --BTN-WIDTH:150px;
  --BTN-HEIGHT:50px;
 }
 header {
  height: max-content;
 }

.brand-logo {
  width: 80px;
  height: 80px;
}
 .brand-name {
  font-size: 2.0625rem;
  padding-left: 10px;
 }
 .nav-links {
  margin-top: 1rem;
  margin-right: 2.5rem;
 }
 ul li a {
  font-size: 1.2rem;
 }
.nav-btn {
  width: var(--BTN-WIDTH);
  height: 50px;
  font-size: var(--BTN-FONT-SIZE);
  margin-top:1.5rem;
}
.about-us {
  padding-left: 1.3rem;
}
 /* Article 1 */
 .article-1 {
 margin-top: 6rem;
}
 .article-1-headline {
  font-size: 5rem;
  margin-left: 12rem;
  white-space: nowrap;
}
.article-1-paragraph {
  font-size: var(--AP-FONT-SIZE);
  margin: auto;
  margin-left: 12rem;
  width: 50ch;
}
.article-1-start-btn {
  margin-left: 12rem;
  font-size: var(--BTN-FONT-SIZE);
  height: 40px;
  margin-top: 1rem;
}
.learn-btn {
  height: 40px;
  font-size: var(--BTN-FONT-SIZE);
 }
.circle-1 {
  width: 480px;
  height: 480px;
  margin-left: 110%;
}
.circle-2 {
  width: 480px;
  height: 480px;
}
.circle-3 {
  width: 480px;
  height: 480px;
  bottom: 20%;
  right: -20%;
}
.square {
  width: 400px;
  height: 410px;
  bottom: 15%;
  border-radius: 1rem;
}
.full-stack-mvp {
  font-size: 1.375rem;
}
.text-input {
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
}
.design-btn,
.code-btn,
.text-btn{
   padding: 10px 25px;
   font-size:1rem ;
  }
  .input-btns {
    padding: 10px 25px;
    font-size:0.9rem ;
}
.invite,
.project-lead {
 font-size: 1rem;
 margin-bottom: 15px;
}
.email-input {
  width: 260px;
  height: 50px;
  caret-color: purple;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
.email-input::placeholder {
  font-size: 0.7rem;
}
.share-btn {
  height: 50px;
}
.project-lead-img-1,
.project-lead-img-2{
  width: 12%;
 }

.project-lead-img-1 {
  margin-bottom: 15px;
}
.lead-name {
  font-size: 1rem;
}
.bulb-frame {
  width: 68px;
  height: 68px;
  background: #ece4cc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  bottom: 80%;
  left: -6%; 
 } 
.bulb-card {
  width: 55px;
  height: 55px;
}
.bulb {
  width: 33px;
  height: 33px;
}
.star-icon {
  width: 68px;
  height: 68px; 
  left: 93%;
  bottom: 97%;
}
.speed-icon { 
  width: 70px;
  height: 68px;
  top:37%;
}
/* Article 2 */
.article-2 {
  margin-top: 10rem;
}
.article-2-headline,
.article-3-headline,
.article-4-headline,
.article-5-headline,
.article-6-headline{
  line-height: 4.5rem;
}
.article-2-circle::before {
  width: 93.75rem;
  height: 71.875rem;
}
.container-frame  {
  width: 80%;
  height: 34.0625rem; 
  border-radius: 30px;
  gap: 3rem;
}
.rectangle-1 {
  width: 25.51425rem;
  height: 6.52125rem;
  top: -30px;
  left: 73%;
}
.rectangle-2 {
  width: 54.69575rem;
  height: 8.7541875rem;
  top: 34%;
  left: 48%;
}
.schedule-frame,
.launch-frame {
  width: 39.6875rem;
  height: 20rem;
  border-radius: 24px;
}
.schedule-icon-frame,
.launch-icon-frame {
  width: 60px;
  height: 60px;
}
.schedule-icon,
.rocket-icon {
  width: 35px;
  height: 35px;
}
.frame-headlines {
font-size: 1.4rem;
}
.frame-paragraph {
font-size: 1.25rem;
}

/* Article 3 */
.article-3 {
  margin-top: 10rem;
}
.flow-container {
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(3, 350px);
  grid-gap: 3rem;
}
.initial-chat,
.plan-design,
.rapid-dev,
.test,
.launch,
.iterate {
 width: 30ch;
 font-size: 1rem;
}
.initial-chat-icon-frame,
.rapid-dev-icon-frame,
.iterate-icon-frame,
.plan-design-icon,
.test-icon,
.launch-icon  {
  width: 69px;
  height: 69px;
}
.initial-chat-icon,
.rapid-dev-icon,
.iterate-icon {
  width: 45px;
  height: 45px;
}

/* Article 4 */
.article-4 {
  margin-top: 7rem;
}
.bitmap-img {
  width: 450px;
  height: 450px;
 }
 .sub-circle {
  height:210px;
  width: 210px;
  left: 270px;
  bottom: 270px;
 }
 .rectangle-3 {
  width: 501.446px;
  height: 96.438px;
  top: 460px;
  left: -20px;
}
.article-1-start-btn,
.learn-btn,
.article-4-start-btn,
.article-6-start-btn {
  width: var(--BTN-WIDTH);
  height:var(--BTN-HEIGHT);
  font-size: 1.0625rem;
}
.article-4-headline {
  font-size: var(--AH-FONT-SIZE);
  margin-right: 15rem;
  margin-top: 5rem;
}
.article-4-paragraph {
  margin-right: 22rem;
}
.article-4-start-btn {
  margin-left: 2.5rem;
 }

/* Article-5 */
.article-5 {
  margin-top: 10rem;
}
.team-container {
  grid-template-columns:repeat(3, 550px);
  grid-template-rows: repeat(1, 1fr);
}
.pictures {
  width: 124px;
  height: 124px;
  margin-top: 80px;
}
.x-icon,
.web-icon,
.linkedin-icon {
  width: 35px;
  height: 35px;
}
  /* Article 6 */
.article-6 {
  height: 60vh;
  background: #1e1e20;
  margin-top: 10rem;
}
.semi-circle {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
}
.rectangle-4 {
  width: 300px;
  height: 100px;
  bottom: 140px;
  left: -90px;
}
.circle-4 {
  width: 450px;
  height: 470px;
  left: 73%;
  bottom: 0;
  border: 4px solid #5454d4;
  transform: rotate(-180deg);
  clip-path: circle(65% at 78% 40%);
}
.rectangle-5 {
  width: 320px;
  height: 104px;
  left: 74%;
  bottom: 55%;
  opacity: 0.4;
} 

/* Footer */ 
footer {
  height: max-content;
}
.footer-navs {
  margin-top: 60px;
}
.footer-nav {
  font-size:0.9rem;
}
.footer-paragraph {
  margin-right: 6rem;
  font-size: 0.9rem;
  }
.footer-mail {
  width: 30%;
  height: 70px;
  color: whitesmoke;
  font-size: 1rem;
}
.footer-mail::placeholder {
  padding-left: 20px;
  font-size: 0.9rem;
}
.footer-sub-btn {
  font-size: var(--BTN-FONT-SIZE);
  height: 60px;
  width: 150px;
}
.footer-icon-container {
  top: 150px;
}
.footer-icons {
  width: 35px;
  height: 35px;
}
.copyright {
  font-size: 0.8rem;
  margin-bottom: 50px;
  padding-top: 30px;
}
