body {
  /* background: green; */
}
.brand-logo {
  margin-top: 15px;
}
.brand-name {
  padding-left: 45px;
}
.article-1-headline {
  margin-left: 0;
  font-size: 2.5rem;
  text-align: center;
}
.article-1-paragraph {
  margin-left: 0;
  text-align: center;
}
.article-1-btn-container {
  display: flex;
  justify-content: center;
}
.article-1-start-btn {
  margin-left: 0;
}
.sub-circle {
  left: 65px;
}
.article-2-headline {
  margin: auto;
  margin-top: 50px;
  width: 17ch;
}
