body {
  background: blue;
  /* background: black; */
  background:#19191b;

}
:root {
  /* FONT-SIZES */
  --AH-FONT-SIZE:2rem;
  --AP-FONT-SIZE:0.7rem;
  --BTN-FONT-SIZE:0.6rem;
  /* LINE HEIGHT */
  --AP-LINE-HEIGHT:1.2rem;
  /* BTN WIDTH */
  --BTN-WIDTH:100px;
 }
 header {
  display: flex;
  justify-content: space-between;
}
 .nav-container {
  display: contents;
 }
 .ham-menu span {
  display: none;
 }
 ul li a {
  line-height: 0;
  font-size: 0.75rem;
}
.nav-links {
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 0;
  margin-right: 2rem;
  padding-top: 1rem;
}
.navlinks-and-btn {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
.nav-btn {
  margin-top: 0.7rem;
}
.about-us {
  padding-left: 1rem;
}

/* Article 1 */
.article-1 {
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: center;
  margin-top: 9rem;
}
.article-1-headline {
  text-align: start;
  margin-left: 50px;
  max-width: 15ch;
}
.article-1-paragraph {
  text-align: start;
  margin-left: 50px;
  max-width: 50ch;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.article-1-btn-container {
  display: block;
}
.article-1-start-btn,
.learn-btn {
  width: var(--BTN-WIDTH);
}
.article-1-start-btn {
  margin-left: 50px;
}
/* CIRCLE */
.circle-1,
.circle-2,
.circle-3 {
  width: 250px;
  height: 250px;
}
.circle-1 {
  margin-bottom: 3rem;
}
.square {
  width: 205px;
  height: 220px;
}
.full-stack-mvp {
  font-size: 0.6rem;
}
.text-input {
  height: 25px;
}
.design-btn,
.code-btn,
.text-btn{
  font-size:0.6rem ;
}
.input-btns { /* when you click on the buttons */
  font-size: 0.5rem;
 }
 .invite,
 .project-lead {
   font-size: 0.6rem;
 }
 .email-input {
  width: 60%;
  height: 25px;
}
.email-input::placeholder {
  padding-left: 5px;
  font-size: 0.5rem;
}
.share-btn {
  width: 22%;
  height: 25px;
}
.lead-name {
  font-size: 0.6rem;
  margin-top: 5px;
}
.project-lead-img-1,
.project-lead-img-2 {
  width: 12%;
  height: 12%;
}
.bulb-frame {
  width: 40px;
  height: 40px;
  bottom: 77%;
  left: -7%; 
 } 
.bulb-card {
  width: 30px;
  height: 30px;
}
.bulb {
  width: 20px;
  height: 20px;
}
.star-icon {
  width: 35px;
  height: 35px;
  left: 91%;
  bottom: 96%;
}
.speed-icon { 
  width: 45px;
  height: 40px;
  left: 82%;
  top:40%;
}
/* Article 2 */
.article-2-headline {
  max-width: 20ch;
  margin: auto;
  margin-top: 90px;
  font-size: var(--AH-FONT-SIZE);
  line-height: 2.5rem;
}
.article-2-paragraph {
  font-size: var(--AP-FONT-SIZE);
  line-height: var(--AP-LINE-HEIGHT);
  width: 55ch;
  margin: auto;
  padding-top: 1rem;
}
.article-2-circle::before {
  width: 700px;
  height: 700px;
   left: 5%;
  top: 0%;
}
.container-frame  {
  width: 85%;
  height: 20rem;
  flex-direction: row;
  gap: 1rem;
}
.schedule-frame,
.launch-frame {
  width: 43%;
}
.frame-headlines {
    margin: auto;
    margin-top: 15px;
}
.frame-paragraph {
  margin: auto;
  width: 30ch;
}
.rectangle-1 {
  top: 27%;
  left: 72%;
  width: 190px;
  height: 60px;
}
.rectangle-2 {
  top: 10%;
  left: 76%;
  width: 160px;
  height: 50px;
}
/* Article 3 */
.article-3-headline {
  font-size: var(--AH-FONT-SIZE);
}
.article-3-paragraph {
  margin: auto;
  width: 55ch;
  font-size: var(--AP-FONT-SIZE);
  line-height: var(--AP-LINE-HEIGHT);
  padding-top: 1rem;
}
.flow-container {
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 250px);
  grid-gap: 3rem;
}
.initial-chat,
.plan-design,
.rapid-dev,
.test,
.launch,
.iterate {
  margin: auto;
  width: 25ch;
}

/* Article-4 */
.article-4 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  font-size: var(--AH-FONT-SIZE);
}
.article-4-headline {
  text-align: unset;
  font-size: 1.7rem;
  margin:auto;
  max-width: 15ch;
  margin-right: 8rem;
  margin-top: 2rem;
  line-height: 2.5rem;
}
.article-4-paragraph {
  text-align:unset;
  margin: auto;
  max-width: 49ch;
  margin-right: 6rem;
  font-size: var(--AP-FONT-SIZE);
  line-height: var(--AP-LINE-HEIGHT);
}
.rectangle-3 {
   top: 220px;
}
.btn-4-container {
  display: block;
}

/* Article-5 */
.article-5-headline {
  font-size: var(--AH-FONT-SIZE);
  line-height: 2.5rem;
}
.article-5-paragraph {
  margin: auto;
  width: 60ch;
  line-height: var(--AP-LINE-HEIGHT);
  padding-top: 1rem;
}
.team-container {
  display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: repeat(1, 1fr);
}
.team-about {
  color: #fff;
  font-size: var(--AP-FONT-SIZE);
  /* margin-top: 15px; */
  margin: auto;
  width: 50ch;

} 

/* Article 6 */
.article-6-headline {
  font-size: var(--AH-FONT-SIZE);
  line-height: 2.5rem;
}
.article-6-paragraph {
  margin: auto;
  width: 60ch;
  position: relative;
  line-height: var(--AP-LINE-HEIGHT);
  padding-top: 1rem;
}
.semi-circle {
  display: block;
}
.rectangle-4 {
  display: block;
} 
.circle-4 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #5454d4;
  background: rgba(216, 216, 216, 0);
  clip-path: circle(58.3% at 78% 40%);
  transform: rotate(-200deg);
  position: absolute;
  left: 70%;
  bottom: 10px;
}
.rectangle-5 {
  width: 150px;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(84, 84, 212, 0.73) 3.01%,
    transparent
  );
  transform: rotate(150.142deg);
  border-radius: 200px;
  position: absolute;
  left: 70%;
  bottom: 100px;
  /* opacity: 0.4; */
}
/*  FOOTER */
footer {
  position: relative;
  padding-top: 80px;
}
.footer-navs {
  display: block;
  margin: 2rem;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.footer-nav {
  padding-right: 10px;
  font-size: 0.6rem;
  font-weight:  normal;
}
.footer-paragraph {
  text-align: end;
  margin-top: 0;
  margin-right: 2rem;
}
.mail-btn-container {
  position: relative;
  justify-content: flex-end;
  margin-right: 1rem;
}
.footer-mail {
  width: 47%;
}
.footer-sub-btn {
  right: 1%;
}
.footer-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-left: 2rem;
  position: absolute;
  top: 100px;
}
.copyright {
  text-align: start;
  margin-left: 2rem;
  padding-top: 0;
  margin-top: 0;
}

